<div id="brand_carouse" class="ptb_50 text-center">
    <div class="type-01">
        <div class="row">
            <div class="col-sm-12">
                <div class="brand owl-carousel ptb_20">
                    @for (int i = 1; i < 10; i++)
                    {
                        string src = "Content/theme/images/brand/brand" + i + ".png";
                        <div class="item text-center"> <a href="#"><img src='@src' alt="Disney" class="img-responsive" /></a> </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
