<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IErrorService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://mehmetaliarican.site/error.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IErrorService" contract="ESN.IErrorService"
                name="BasicHttpBinding_IErrorService" />
        </client>
    </system.serviceModel>
</configuration>